<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>js-practice</title>
</head>

<body>
  <div class="container">
    <form id="form" class="form">
      <h2>Register with us</h2>
      <div class="form-control">
        <label for="username" class="label__username">User name</label>
        <input type="text" id="username" class="input__username" placeholder="Enter user name">
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="email" class="label__email">email</label>
        <input type="text" id="email" class="input__email" placeholder="Enter user name">
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="password" class="label__password">password</label>
        <input type="password" id="password" class="input__password" placeholder="Enter user name">
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="password2" class="label__password2">User name</label>
        <input type="password" id="password2" class="input__password2" placeholder="Enter user name">
        <small>Error message</small>
      </div>
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
</body>

</html>