<h1>my js projects</h1>
<ul class="nav-list">
  <li class="nav-list__item"><a class="nav-list__link" href="/index.html">Home</a></li>
  <li class="nav-list__list"><a class="nav-list__link" href="/movie-pick-up/index.html">Pick a movie</a></li>
  <li class="nav-list__list"><a class="nav-list__link" href="/hangman-game/index.html">Hangman game</a></li>
</ul>