*,
*::backdrop,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  // color: #fff;

  // background-color: #242333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nav-list {
  list-style: none;

  &__item {}

  &__link {
    text-decoration: none;

  }
}